.container {
  width: 1280px;
  margin: 0 auto;
}
.header ul {
   margin: 32px 311px 35px 332px;
}
.header li {
   list-style: none;
   display: inline-block;
   padding-right: 65px;
}
.header a {
   font-family: Roboto, Arial, sans-serif;
   font-size: 18px;
   font-weight: 900;
   color: #16a085;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
}
.picture {
    width: 100%;
}
.text {
    width: 100%;
    background-color: #f5f6f7;
    font-family: Roboto, Arial sans-serif;
}
.text h1 {
    font-size: 22px;
    font-weight: 900;
    color: #373737;
    text-transform: uppercase;
    text-align: center;
    padding-top: 59px;
}
.paragraphs {
    font-size: 16px;
    font-weight: 900;
    color: #373737;
    text-align: center;
    margin: 34px 108px 0 113px;
}
.paragraphs>p {
    margin-bottom: 1em;
}
.content-button {
    display: inline-block;
    border-radius: 5px;
    padding: 18px 41px;
    background-color: #16a085;
    font-family: GothamRounded-Medium, Arial, sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 527px;
    margin-top: 41px;
    margin-bottom: 94px;
}
.footer {
    font-family: Roboto, Arial, sans-serif;
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    text-align: right;
    padding-top: 47px;
    padding-right: 104px;
    padding-bottom: 45px;
}
